DataEngineering-Course
ML_OE/MNIST_train.csv
ML_OE/MNIST_test.csv
.DS_Store
ADS/.DS_Store
EdControl_Team/.DS_Store
EdControl_Team/EdControl
Interview/VK_Intern/automl_bc
NLP/.DS_Store
NLP/nlp_huawei_new2_task
SoftSkills/.DS_Store
